<form action="" method="post" id="form-validate" class="bss-form">
    <fieldset class="fieldset create info">
        <h2>BSS FRESHER FORM</h2>
        <br>
        <div class="validate"></div>
        <div class="field field-name-firstname required">
            <span>Name</span>
            <input type="text" id="name" name="name" title="Name">
        </div>
        <div class="field field-name-firstname required">
            <span>Telephone</span>
            <input type="text" id="telephone" name="telephone" title="Telephone">
        </div>
        <div class="field field-name-firstname required">
            <span>Date of birth</span>
            <input type="text" id="dob" name="dob" title="DayOfBirth">
        </div>
        <div class="field field-name-firstname required">
            <span>Message</span>
            <input type="text" id="message" name="message" title="Message">
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" id="submit">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
<div id="welcome-popup">
    <h3 id="popupName"></h3>
    <h3 id="popupPhone"></h3>
    <h3 id="popupDob"></h3>
    <h3 id="popupMessage"></h3>
</div>
<script type="text/x-magento-init">
    {
        ".bss-form": {
            "Bss_widget": {
            }
        }
    }


</script>
