.widget.block.block-static-block{
	float: none !important;
}
.copyright{
    color: black;
    background-color: #f4f4f4;
    text-align: left;
}
#html-body [data-pb-style=AW5YKJW] {
    width: 25%;
    margin-top: 1%;
}
.block.newsletter{
	float: none !important;
	max-width: 100%;
}
.bss_footer3{
	margin-left: 3%;
}
.product-info-main .page-title-wrapper.product .page-title{
	border-bottom: 1px solid black;
}
.product-info-main .product-info-price{
	border: none;
}
.product-info-main{
    width: 60% !important;
}
.product.media{
    width: 40% !important;
}
.product-info-main .product-info-price{
	margin-bottom: 0 !important;
	display: flex;
}
.product-info-main .product-info-price .price-box{
	width: 20%;
}
.product-info-main .product-add-form {
    padding-top: 0px;
    width: 80%;
}
.price-box.price-final_price{
	float: left;
}
.box-tocart{
	width: 40%;
	float: right;
}
.fieldset .field.qty{
	width: 20%;
	float: left;
}
.fieldset .actions {
	width: 75%;
    float: right;
    margin-top: 2.5%;
    text-align: right;
}
#product-addtocart-button{
	width: 80%;
}