*{
    margin: 0;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
	font-family: arial,helvetica;
	background-color: #E0E0E0;
}

/*dashboard css*/
#menu{
	float: left;
    width: 16.93%;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
    padding: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    color:#09afff ;
    transition: 0.25s;
}
.title{
    font-size: 18px;
    padding: 30px 0 0 0;
}
.title:hover{
	cursor: pointer;
	color: #09afff;
    transition: 0.5s;
}
#hamburger-menu{
    display: none;
}
#header{
	float: right;
    height: 35px;
    width: 83%;
    background-color: whitesmoke;
}
.img-ava-user{
	width: 85%;
    height: 26px;
    float: left;
    padding-top: 0.75%;
}
.info-user{
	float: right;
    height: 23px;
    width: 15%;
    padding-top: 1%;
}
#content-main{
    float: right;
    width: 83%;
    height: auto;
}
.table-device{
	background: white;
    width: 80%;
    height: auto;
    margin: 2% 10% 0 10%;
}
table {
    width: 100%;        
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}
.power-chart{
	background-color: white;
    height: auto;
    width: 38%;
    margin: 1% 0 0 10%;
    float: left;
}
.add-device{
	height: auto;
    width: 38%;
    margin: 1% 10% 0 0;
    float: right;
    background: white;
}
.input-device{
    text-align: center;
    padding-bottom: 8%;
}
.input-device-box{
	height: 50px;
    width: 82%;
    padding-left: 3%;
}
.submit-device{
	border: none;
    background: orange;
    border-radius: 20px;
    height: 30px;
    width: 43%;
    color: white;
}
.submit-device:hover{
	cursor: pointer;
	background-color: red;
	color: black;
}

@media only screen and (max-width: 600px){
    #menu{
        display: none;
        width: 50%;
    }
    #header{
        height: 30px;
    }
    #hamburger-menu{
        display: block;
        float: left;
        width: 12%;
        margin-left: 5%;
    }
    .table-device{
        display: none;
    }
    .img-ava-user{
        width: 70%;
        height: 30px;
        padding-top: 2%;
    }
    .info-user{
        height: 30px;
        width: 30%;
        padding-top: 4.5%;
        font-size: 10px;
    }
    #content-main{
        width: 100%;
        float: none;
    }
    .power-chart{
        height: auto;
        width: 80%;
        margin: 5% 0 0 10%;
        float: none;
    }
    .add-device{
        width: 80%;
        margin: 8% 13% 0 10%;
        float: none;
    }
    .input-device{
        padding-top: 6%;
    }
}
/* -------------------------------------------------*/
/*logs.css*/
.title-logs{
    height: 3%;
    width: 22%;
    float: left;
    margin: 2% 0 0 10%;
    font-size: 25px;
}
.div-search{
    float: right;
    height: 50px;
    width: 68%;
}
.box-search{
    float: left;
    margin: 2.5% 0 0 40%;
    height: 50px;
    width: 20%;
}
#input-search{
    height: 85%;
    padding-left: 3%;
    border: none;
    background: #ffdaddc9;
}
.div-btn-search{
    width: 40%;
    float: right;
    height: 55px;
    margin-top: 6px;
}
.clear{
    clear: both;
}
.btn-search{
    margin-top: 6%;
    width: 30%;
    font-size: 20px;
    height: 60%;
    border: none;
    border-radius: 15px;
    background: orange;
    color: white;
}
.btn-search:hover{
    color: black;
    background-color: red;
    cursor: pointer;
    transition: 0.5s;
}
.table-logs{
    margin: 2% 3% 0 4%;
    background: white;
    border-bottom: 1px solid ghostwhite;
}
#container-pagination{
    height: 100px;
    width: 100%;
    margin: 3% 0 0 40%;
}
#container-pagination a{
    text-decoration: none;
    float: left;
    margin-right: 4%;
    padding: 1%;
    background: whitesmoke;
    border: 1px solid gray;
}
.pagination{
    list-style: none;
    margin: 3% 30% 0 40%;
    height: 100%;
}
#container-pagination a:hover{
    background: red;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}