html,body{
	margin: 0;
	padding: 0;
	font-family: arial,helvetica;
	background-color: #E0E0E0;
}
#menu{
	float: left;
    width: 16.93%;
    height: 750px;
    position: fixed;
    background-color: whitesmoke;
    border-right: 1px solid gray;
}
a{
    text-decoration: none;
}
a:hover{
    color:#09afff ;
    transition: 0.25s;
}
.title{
    width: 85%;
    height: 3%;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 20px;
}
.title:hover{
	cursor: pointer;
	color: #09afff;
    transition: 0.5s;
}
#header{
	float: right;
    height: 35px;
    width: 83%;
    background-color: whitesmoke;
}
.img-ava-user{
	width: 85%;
    height: 26px;
    float: left;
    padding-top: 0.75%;
}
.info-user{
	float: right;
    height: 23px;
    width: 15%;
    padding-top: 1%;
    font-size: 17px;
}
#content-main{
    float: right;
    width: 83%;
    height: auto;
}
.table-device{
	background: white;
    width: 80%;
    height: auto;
    margin: 2% 10% 0 10%;
}
table {
    width: 100%;        
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}
.power-chart{
	background-color: white;
    height: auto;
    width: 38%;
    margin: 1% 0 0 10%;
    float: left;
}
.add-device{
	height: 460px;
    width: 38%;
    margin: 1% 10% 0 0;
    float: right;
    background: white;
}
.add-noti{
    margin: 8% 0 0 11%;
    color: red;
    font-weight: bold;
}
.input-device{
	width: 90%;
    height: 11%;
    margin: 6% 10% 0 10%;
}
.input-device-box{
	height: 85%;
    width: 82%;
    padding-left: 3%;
}
.submit-device{
	border: none;
    background: orange;
    border-radius: 20px;
    height: 80%;
    text-align: center;
    width: 30%;
    margin-left: 30%;
    color: white;
}
.submit-device:hover{
	cursor: pointer;
	background-color: red;
	color: black;
    transition: 0.5s;
}
@media only screen and (max-width: 414px){
    #menu{
            display: none;
    }
    #header{
            height: 30px;
    width: 100%;
    float: none;
    }
    .img-ava-user{
            width: 80%;
    height: 22px;
    padding-top: 2%;
    }
    .info-user{
        height: 16px;
    width: 19%;
    padding-top: 3.5%;
    font-size: 11px;
    }
    #content-main{
        width: 100%;
    height: 715px;
    float: none;
    }
    .power-chart{
        height: 320px;
    width: 80%;
    margin: 5% 0 0 10%;
    float: none;
    }
    .add-device{
        height: 360px;
    width: 80%;
    margin: 0% 10% 0 10%;
    float: none;
    }
    .input-device{
        padding-top: 4%;
    }
}

/*logs.css*/
.title-logs{
    height: 3%;
    width: 22%;
    float: left;
    margin: 2% 0 0 10%;
    font-size: 25px;
}
.div-search{
    float: right;
    height: 6%;
    width: 68%;
}
.box-search{
    float: left;
    margin: 2.5% 0 0 40%;
    height: 65%;
    width: 20%;
}
.div-btn-search{
    width: 39%;
    float: right;
    height: 118%;
}
.clear{
    clear: both;
}
.btn-search{
    margin-top: 6%;
    width: 30%;
    font-size: 20px;
    height: 60%;
    border: none;
    border-radius: 15px;
    background: orange;
    color: white;
}
.btn-search:hover{
    color: black;
    background-color: red;
    cursor: pointer;
    transition: 0.5s;
}
.table-logs{
    margin: 2% 3% 0 4%;
    background: white;
    border-bottom: 1px solid ghostwhite;
}
.container-pagination{
    height: 100px;
    width: 100%;
}
.pagination{
    list-style: none;
    margin: 3% 30% 0 40%;
    height: 100%;
}
ul li{
    float: left;
    margin-right: 5%;
    padding: 2%;
    background: whitesmoke;
}
ul li:hover{
    background: red;
    cursor: pointer;
    transition: 0.5s;
}