<form action="" method="post" id="form-validate">
    <fieldset class="fieldset create info">
        <h2 data-bind="i18n: 'BSS FRESHER FORM KNOCKOUT JS'"></h2>
        <br>
        <p data-bind="text:errorMessage"></p>
        <div class="field field-name-firstname required">
            <span data-bind="i18n: 'ID'"></span>
            <input type="text" id="id" data-bind="value: idFresher">
        </div>
        <div class="field field-name-firstname required">
            <span data-bind="i18n: 'Name'"></span>
            <input type="text" id="name" data-bind="value: nameFresher">
        </div>
        <div class="field field-name-firstname required">
            <span data-bind="i18n: 'Class'"></span>
            <input type="text" id="class" data-bind="value: classFresher">
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" id="add" data-bind="click: addFresher">
                    <span data-bind="i18n: 'Add'"></span>
                </button>
            </div>
            <div class="primary">
                <button type="button" id="reset" data-bind="click: removeAll">
                    <span data-bind="i18n: 'Reset'"></span>
                </button>
            </div>
        </div>
    </fieldset>
    <div class="table">
        <table>
            <tr>
                <thead>
                <th data-bind="i18n: 'Name'"></th>
                <th data-bind="i18n: 'Class'"></th>
                <th data-bind="i18n: 'Action'"></th>
                </thead>
            </tr>
            <tbody id="tbody" data-bind="foreach: Bss">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: classFr"></td>
                <td>
                    <button type="button" class="delete" data-bind="click: $parent.deleteFresher">
                        <span data-bind="i18n: 'Delete'"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
